<?xml version="1.0"?>
<launch>
  <!-- Example launch file for template-repo -->
  
  <node name="joy_node" pkg="barracuda-gamepad" type="gamepad.cpp" output="screen">
    <rosparam>
      # Example parameters
      example_param: "Hello from launch file!"
    </rosparam>
  </node>
  
  <!-- You can add more nodes here -->
  <!-- <node name="another_node" pkg="example_package" type="another_node" output="screen"/> -->
  
</launch>